

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: rgb(233, 233, 233);
}

    /* start landing-text */
.order-manager{
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    margin: 18px 0;
    width: 200px;
}

    /* end landing-text */
    /* start nav */
.menu{
    position: absolute;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgb(94, 93, 93);
}

.menu-btn{
    height: 60px;
    width: 250px;
    margin: 0 0 20px 50px;
}

    /* end nav */
    /* start main-container */
.main-container{
    position: absolute;
    left: 50px;
    right: 50px;
    top: 110px;
    bottom: 50px;
}

.cont{
    width: 100%;
    height: 100%;
}

    /* end nav */
    /* start ALL orders */
.all-orders{
    display: inline-block;
    height: 100%;
}

.all-orders-wrapper{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.order{
    margin: 15px 0;
    width: 100%;
    font-size: 20px;
}

.ticket-header{
    background-color: rgb(203, 217, 255);
    color: black;
    padding: 0px 3px;
}

.order-details{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.pickup-time{
    font-size: 28px;
}

.pickup-time span{
    margin-left: 5px;
}

.guest-name{
    font-size: 15px;
}

.order-number{
    font-size: 32px;
}

.ticket-main{
    color: black;
    background-color: rgb(230, 252, 240); 
}

.guest-details{
    display: flex;
    justify-content: space-between;
    padding: 5px;

}

.status-details{
    display: flex;
    margin-left: 10px;
    padding: 5px;
    border-radius: 3px;
}

.box-info{
    display: flex;
    flex-direction: column;
}

.box{
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 44px;
    font-size: 22px;
    margin:5px 0;    
}

.box-info button{
    height: 44px;
    padding: 0 0 2px 8px;
    width: 136px;
    height: 44px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    transition: 150ms ease-in-out;
}

.is-v{
    border-top: 3px solid #4E5D6C;
    border-right: 3px solid #4E5D6C;
    border-bottom: 3px solid #4E5D6C;
    border-radius: 0 3px 3px 0;
    width: 44px;
    height: 44px;
    transition: 150ms ease-in-out;
}

.box-info .v{
    font-size: 36px;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    transform: translateY(-8px) translateX(8px);
    transition: 150ms ease-in-out;
}

.guest-comment{
    border-top: orange;
    border-bottom: orange;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%
}

.order-items{
    padding: 0 4px;
}

.line{
    display: flex;
}

.line-0{
    text-decoration: underline;
}

.order-item{
    display: flex;
    font-weight: bold;
}

.quantity{
    width:10%;
    font-weight: bold;
}

.product-name{
    width:45%;
    font-weight: bold;
}

.product-addition{
    width:30%;
    font-weight: bold;
}

.price{
    width:15%;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

.total-price{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top:10px;
    border-top: 1px solid black;
}

.tax{
    text-align: right;
}

    /* end  ALL orders */
    /* start CANCELED orders */
.canceled-orders{
    height: 100%
}

.canceled-orders-wrapper{
    display: flex;
    justify-content: space-between;
    height: 95%;
}

.client-canceled-wrapper{
    width: 48%;
    height: 100%;
    padding: 10px;
    background: rgb(241, 191, 98);
}

.cafe-canceled-wrapper{
    width: 48%;
    height: 100%;
    padding: 10px;
    background: rgb(129, 109, 70);
}

.client-canceled{
    height: 95%;
    overflow: auto;
}

.cafe-canceled{
    height: 95%;
    overflow: auto;
}

.canceled-box button{
    background-color: orange;
    border: none;
}

.is-v{
    border-top: 3px solid orange;
    border-right: 3px solid orange;
    border-bottom: 3px solid orange;
    border-radius: 0 3px 3px 0;
    width: 44px;
    height: 44px;
    transition: 150ms ease-in-out;
}

.box-info .v{
    color: orange;
}

.cancel{
    border: 3px solid orange;
    border-radius: 4px;
}

.ticket-header{
    color: orange;
}

.cancelmessage{
    color: orange;
    text-decoration: underline;
}

    
    /* end CANCELED orders */
    /* start ORDER-MODAL */

.order-modal{
    display: none;
    position: fixed;
    padding: 50px 250px;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.712);
    z-index: 30;
}

.hide-btn{
    width: 100%;
    height: 100px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    transition: 150ms ease-in-out
}

.hide-btn:hover{
    color:white;
    background:darkgray;
    z-index: 40;
}
    
    
        /* end ORDER-MODAL */
    /* start STOP */
    .stop{
        position: absolute;
        z-index: 15;
        right: 60px;
        bottom: 60px;
        width: 140px;
        height: 140px;
        background-color: rgb(163, 3, 3);
        border-radius: 8px;
        border: 4px solid black;
        transition: 200ms ease-in-out;
    }
    
    .stop:hover{
        background-color: red;
    }
    
    .stop:hover .stop-text{
        padding-top: 28px;
        font-size: 48px;
    }
    
    .stop-text{
        width: 100%;
        text-align: center;
        padding-top: 35px;
        color: white;
        font-size: 36px;
        font-weight: bold;
        transition: 200ms;
    }
    
    .stop-modal{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 20px;
        font-size: 22px;
        font-weight: bold;
        transform: translateX(-50%) translateY(-50%);
        background-color: rgb(163, 3, 3);
        border-radius: 8px;
        border: 4px solid black;
    }
    
        /* end STOP */
    /* start footer */
.footer {
    color: white;
    font-size: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(158, 134, 83);
    height: 32px; 
    text-align: center;
}

    /* end footer */

